body {
  background-color: rgb(207, 235, 235);
}

.card {
  width: 300px;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}

.card img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.card h2 {
  margin-top: 10px;
  font-size: 1.5em;
}

.card p {
  text-align: justify;
}

.card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card li {
  font-weight: bold;
}

.card .availability {
  background-color: darkgrey;
  color: yellow;
  padding: 5px;
  margin-top: 10px;
  border-radius: 20px;
}

footer {
  border-top: solid yellow;
  background-color: aqua;
  border-style:inset;
}

.avail {
  background-clip: darkgray;
  
}
